@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

body{
    background-color: black;
    font-family: Montserrat;
    color: white;
}

h1, p{
    align-items: center;
    display: flex;
    justify-content: center;
}

p{
    padding-top: 10px;
    white-space: 2px;
}